page {
  background-color: #ffffff;
}
.weui-btn {
  position: fixed;
  margin-left: 31rpx;
  bottom: 20rpx;
  width: 688rpx;
  font-size: 36rpx;
}
.myCanvas {
  width: 100%;
  height: 1062rpx;
  background: #ffffff;
}