page {
  height: 100%;
}
.address {
  min-height: 100%;
  padding-bottom: 98rpx;
  .address-item {
    margin: 0 0 15rpx !important;
    .item-title {
      font-size: 32rpx;
      color: #333;
    }
    .item-conten {
      font-size: 28rpx;
      color: #666;
      margin-top: 16rpx;
    }
    .item-phone {
      float: right;
    }
    .item-bottom {
      font-size: 28rpx;
      color: #333;
      border-top: 1rpx solid #ccc;
      margin-top:36rpx;
      padding-top:20rpx;
      .bottom-left {
        .icon {
          margin-right: 20rpx;
        }
      }
      .bottom-right {
        text-align: right;
        .icon {
          margin:0 20rpx 0 40rpx;
        }
      }
    }
  }
  .normal-add {
    font-size: 32rpx;
    color: #999;
    .add-icon {
      width: 40rpx;
      height: 40rpx;
      margin-right: 20rpx;
      vertical-align:middle;
    }
  }
  .wechat-add {
    font-size: 32rpx;
    background: rgb(18, 204, 49);
    .add-icon {
      width: 44rpx;
      height: 36rpx;
      margin-right: 20rpx;
      vertical-align:middle;
    }
  }
}