.momt-rich-text {
  padding: 0 30rpx;
  margin-bottom: 50rpx;
  .rich-title {
  	color: #333;
  	font-size: 40rpx;
  	font-weight: bold;
  	margin: 40rpx 0;
  }
}

.bottom {
  padding-top: 140rpx;
}

.WxEmojiView {
  font-size: 30rpx!important;
}